@import '@/styles/other.scss';

.crudView {
  display: flex;
  flex-direction: column;
  padding: 20px;

  // 工具栏
  .toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .actionButtons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;

    :global {
      .ant-btn {
        margin-right: 10px;
      }
    }
  }

  .queryArea {
    justify-content: flex-end;
  }


  .tableWrapper {
    width: 100%;
    flex-grow: 1;
  }
}
