@import '@/styles/other.scss';

.appMain {
  height: calc(100vh - 64px);
  overflow: auto;

  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;

  .breadcrumb {
    text-align: left;
    margin-bottom: 16px;
  }

  .tableWrapper {
    background: $homeBackgroundColor;
    flex: 1;
  }
}